<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세미 프로젝트-index</title>
    <link rel="stylesheet" href="CSS/base.css">
    <style>


    </style>
</head>
<body>
    <div id="container">
        <header><h1>JSP프로젝트 v1</h1></header>
        <nav>

            <div id="project">
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/Join.html">회원가입</a></li>
                    <li><a href="/login.html">로그인</a></li>
                    <li><a href="/board/List.html">게시판</a></li>
                    <li><a href="/Myinfo.html">회원정보</a></li>
                </ul>
            </div>
<hr>

        </nav>

        <main>
            <div>
                <img src="CSS/fantasy-2543658_1920.jpg"; width="950;">
            </div>
        </main>
<hr>

        <footer>
            <div id="copy">
                copyright &copy;2014.201.siestageek. AllRights Reserved.
            </div>
        </footer>
    </div>

</body>
</html>