<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세미 프로젝트-index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static',path='/css/base.css') }}">
    <style>
        /*.text-justify{text-align: justify}*/
        main div {text-align: center}
    </style>
</head>
<body>
    <div clss="container">
        <header><h1>JSP프로젝트 v1</h1></header>
        <nav>

            <ul class= "list-inline row text-center justify-content-evenly mt-5">

                <li class="col-2">
                    <a href="/" class="text-decoration-none text-dark">Home</a></li>
                <li class="col-2">
                    <a href="/Join" class= "text-decoration-none text-dark">회원가입</a></li>
                <li class="col-2">
                    <a href="/login" class="text-decoration-none text-dark">로그인</a></li>
                <li class="col-2">
                    <a href="#" class="text-decoration-none text-dark">게시판</a></li>
                <li class="col-2">
                    <a href="Myinfo" class="text-decoration-none text-dark">회원정보</a></li>
            </ul>


            <hr>

        </nav>

        <main>
            <h2>회원정보</h2>
            <div class="container w-25">
                <table class="table table-bordered mt-5">
                        <tr><th>아이디</th><td>abc123</td></tr>
                        <tr><th>이름</th><td>kim</td></tr>
                        <tr><th>이메일</th><td>abc123@naver.com</td></tr>
                        <tr><th>가입일</th><td>2024.01.22 12:23:34</td></tr>
                </table>
            </div>

        </main>
        <hr>
        <footer>
            <div class="text-center mb-3">
                copyright &copy;2014.201.siestageek. AllRights Reserved.
            </div>
        </footer>
    </div>
</body>
</html>