
<header class="h1">JSP프로젝트 v1</header>
<nav>

    <ul class= "list-inline row text-center justify-content-evenly mt-5">

        <li class="col-2">
            <a href="/" class="text-decoration-none text-dark">Home</a></li>
        <li class="col-2">
            <a href="/join" class= "text-decoration-none text-dark">회원가입</a></li>
        <li class="col-2">
            <a href="/login" class="text-decoration-none text-dark">로그인</a></li>
        <li class="col-2">
            <a href="#" class="text-decoration-none text-dark">게시판</a></li>
        <li class="col-2">
            <a href="myinfo" class="text-decoration-none text-dark">회원정보</a></li>
    </ul>

<hr class="border border-black border-1 opacity-75">

</nav>

